extends ../layout

block content
  .page-header
    h3 Sign up
  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Email',autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='password') Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password', required)
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', required)

    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-7
        input.form-control(type='text', name='profile[name]', id='name', required)
    .form-group
      label.col-sm-3.control-label Gender
      .col-sm-7
        label.radio.col-sm-3
          input(type='radio', name='profile[gender]', value='male', data-toggle='radio')
          span Male
        label.radio.col-sm-3
          input(type='radio', name='profile[gender]', value='female', data-toggle='radio')
          span Female
        label.radio.col-sm-3
          input(type='radio', name='profile[gender]', value='other', data-toggle='radio')
          span Other
    .form-group
      label.col-sm-3.control-label(for='idcard') levle
      .col-sm-7
        select.form-control(name='profile[level]', id='level', required)
          option(value="1") 一级
          option(value="2") 二级
          option(value="3") 三级
          option(value="4") 四级
          option(value="5") 五级

    .form-group
      label.col-sm-3.control-label(for='idcard') idcard
      .col-sm-7
        input.form-control(type='text', name='profile[idcard]', id='idcard', required)
    .form-group
      label(class='col-sm-3 control-label', for='mobile') mobile
      .col-sm-7
        input.form-control(type='text', name='profile[mobile]', id='mobile' , required)
    .form-group
      label(class='col-sm-3 control-label', for='qq') qq
      .col-sm-7
        input.form-control(type='text', name='profile[qq]', id='qq' , required)
    .form-group
      label(class='col-sm-3 control-label', for='profield') profield
      .col-sm-7
        input.form-control(type='text', name='profile[profield]', id='profield' , required)
    .form-group
      label.col-sm-3.control-label(for='location') Location
      .col-sm-7
        input.form-control(type='text', name='profile[location]', id='location')
    .form-group
      label.col-sm-3.control-label(for='website') Website
      .col-sm-7
        input.form-control(type='text', name='profile[website]', id='website')
    .form-group
      label(class='col-sm-3 control-label', for='description') Description
      .col-sm-7
        textarea.form-control(name='profile[description]', id='description', rows='7', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Signup
