extends layout

block content
  .page-header
    h3 Cards

  if cards
    table.table
      tr
        th ID
        th locks
        th memberid
        th 是否绑定账号
        th Description
        th
      for card in cards
        tr
          td= card.uid 
          td
            if card.locks          
              for locks in card.locks
                i= locks.name
          td= card.memberid
          td
            if card.memberid
              h4.text-primary
                i.fa.fa-check
            else
              h4.text-danger
                i.fa.fa-times
          td= card.description
          td.text-right
            .btn-group
              a.btn.btn-primary(href='/cards/' + card.uid) Manage
              a.btn.btn-danger(href='/cards/delete/' + card.uid, onClick='return confirm("Really delete this card?")') Delete
              a.btn.btn-primary(href='/cards/creatAccountByCard/'+card.uid) CreatAccount
  else
    h4 No cards found
