extends layout

block content
  .page-header
    h3 MyCards

  if cards
    table.table
      tr
        th ID
        th locks
        th Description
        th
      for card in cards
        tr
          td= card.uid
          td
            if card.locks
              for locks in card.locks
                i= locks.name
          td= card.description
          td.text-right
            .btn-group
              a.btn.btn-primary(href='/cards/' + card.uid) Manage
              a.btn.btn-danger(href='/cards/delete2/' + card.uid, onClick='return confirm("确定删除吗？")') Delete

  else
    h4 No cards found
    ol
      for log in logs
        li logs.lock_id ~ log.timestamps
